*{
	margin: 0;
	padding: 0;
}

:root{
	--max-width: 1300px;
	--size-base: 16px;
	--size-body: 1.1rem;

	--pad-large: 1.5rem;
	--pad: 1rem;
	--pad-small: 0.5rem;
	--pad-xsmall: 5px;
}
body{
	font-family: monospace;
	font-size: var(--size-body);
}
header, main, footer{
	max-width: var(--max-width);
	margin: auto;
	padding: var(--pad);
}
h1{
	margin-top: var(--pad-large);
}
p{
	margin-bottom: var(--pad)
}
h2{
	font-weight: normal;
	font-size: var(--size-body);
}
main{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: var(--size-base);
}

form{
	grid-column: 1/4;
}
fieldset{
	padding: var(--pad) var(--pad-large);
}
.inputs{
	display: flex;
}
.list-fields{
	flex: 1;
	label{
		display: block;
		margin-bottom: var(--pad);
	}
	textarea{
		height: 400px;
		width: 80%;
	}
}
.org-fields{
	flex: 2;

	label[for*="time"]{
		display: inline-block;
		width: 75px
	}
	input[type="time"]{
		width: 50%;
	}
}
input[type=number]{
	width: 40px;
}
.groupcount-field, .breakmin-field{
	display: inline-block;

}
#result{
	grid-column: 4/-1;
}

button{
	grid-row-start: 2;
	grid-column: span 2;
	font-family: monospace;
	font-size: var(--body);
	padding: var(--pad);
}

input{
	font-family: monospace;
	font-size: var(--size-body);
	padding: var(--pad-xsmall);
}
.field{
	margin-bottom: var(--pad)
}
textarea{
	display: block;
	min-height: 400px;
	width: 95%;
	font-size: var(--size-body);
	padding: var(--pad-small);
}
input[type="number"]{
	width: 50px;
}